/* You can add global styles to this file, and also import other style files */
.container-fluid{

  background-image:url();
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  }
