
<b></b>
<div>
    <h3 id="titulo">aca</h3>
    <p id="fecha"></p>
    <p id="descripcion"></p>

    <div id="c_multimedia"></div>
</div>

<script type="text/javascript" src="~/Scripts/callApi.js"></script>

