
@{
    ViewBag.Title = "NasaRQ";
}

<div>
    
    <p id="fecha"></p>
    <p id="descripcion"></p>
    <div id="c_multimedia"></div>
</div>
@Scripts.Render("~/Scripts/callApi")
<script type="text/javascript" src="~/Scripts/callApi.js"></script>
